<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="makza.afonsky.searchpair">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />


        <activity
            android:name="makza.afonsky.searchpair.SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="makza.afonsky.searchpair.GameMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="makza.afonsky.searchpair.Level1"
            android:screenOrientation="portrait" />
        <activity
            android:name="makza.afonsky.searchpair.Level2"
            android:screenOrientation="portrait" />
        <activity
            android:name="makza.afonsky.searchpair.Level3"
            android:screenOrientation="portrait" />
        <activity
            android:name="makza.afonsky.searchpair.Level4"
            android:screenOrientation="portrait" />
        <activity
            android:name="makza.afonsky.searchpair.Level5"
            android:screenOrientation="portrait" />
        <activity
            android:name="makza.afonsky.searchpair.Level6"
            android:screenOrientation="portrait" />
        <activity
            android:name="makza.afonsky.searchpair.Level7"
            android:screenOrientation="portrait" />
        <activity
            android:name="makza.afonsky.searchpair.Level8"
            android:screenOrientation="portrait" />
        <activity
            android:name="makza.afonsky.searchpair.Level9"
            android:screenOrientation="portrait" />
        <activity
            android:name="makza.afonsky.searchpair.Level10"
            android:screenOrientation="portrait" />
        <activity
            android:name="makza.afonsky.searchpair.Level11"
            android:screenOrientation="portrait" />
        <activity
            android:name="makza.afonsky.searchpair.Level12"
            android:screenOrientation="portrait" />
        <activity
            android:name="makza.afonsky.searchpair.Level13"
            android:screenOrientation="portrait" />
        <activity
            android:name="makza.afonsky.searchpair.Level14"
            android:screenOrientation="portrait" />
        <activity
            android:name="makza.afonsky.searchpair.Level15"
            android:screenOrientation="portrait" />
        <activity
            android:name="makza.afonsky.searchpair.Level16"
            android:screenOrientation="portrait" />
        <activity
            android:name="makza.afonsky.searchpair.Level17"
            android:screenOrientation="portrait" />
        <activity
            android:name="makza.afonsky.searchpair.Level18"
            android:screenOrientation="portrait" />
        <activity
            android:name="makza.afonsky.searchpair.Level19"
            android:screenOrientation="portrait" />
        <activity
            android:name="makza.afonsky.searchpair.Level20"
            android:screenOrientation="portrait" />
        <activity
            android:name="makza.afonsky.searchpair.Level21"
            android:screenOrientation="portrait" />
        <activity
            android:name="makza.afonsky.searchpair.Level22"
            android:screenOrientation="portrait" />
        <activity
            android:name="makza.afonsky.searchpair.Level23"
            android:screenOrientation="portrait" />
        <activity
            android:name="makza.afonsky.searchpair.Level24"
            android:screenOrientation="portrait" />
        <activity
            android:name="makza.afonsky.searchpair.Level25"
            android:screenOrientation="portrait" />
        <activity
            android:name="makza.afonsky.searchpair.BonusActivity"
            android:screenOrientation="portrait" />
        
        <activity android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713"/>




    </application>

</manifest>